<%= form_for(@person) do |person| %>

  <% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
  <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
  setTimeout("new Effect.Fade('notice');", 15000)
  </script>
  <% end %>
  <br/>
<div class="field">
    <%= person.label :name %><br />
    <%= person.text_field :name %>
  </div>
  <div class="field">
    <%= person.label :phone %><br />
    <%= person.text_field :phone %>
  </div>
<div class="field">
    <%= person.label :address %><br />
    <%= person.text_field :address %>
  </div>
  <br /
 <div class="actions">
    <%= person.submit %>
  </div>
  <% end %>
  <br /> 

