<%= form_for(@person) do |person| %>

<div class="field">
    <%= person.label :name %><br />
    <%= person.text_field :name %>
  </div>
  <div class="field">
    <%= person.label :phone %><br />
    <%= person.text_field :phone %>
  </div>
<div class="field">
    <%= person.label :address %><br />
    <%= person.text_field :address %>
  </div>
  <br /
 <div class="actions">
    <%= person.submit %>
  </div>
  <% end %>
  <br /> 



